---
layout: page
title: Programming Courses For Youth
permalink: /youth/
redirect_from:
  - /register/
  - /kids/ 
---

<div class="container">
	<h1>{{ page.title }}</h1>
	<hr>
	<p>Learning to code is difficult, but so is learning salsa dancing or playing the guitar. Consistent practice, week after week, is how you become a great programmer. Our semester-long programs build upon basic skills learned in introductory classes like the Hour of Code and reinforce that new knowledge with hands-on experience. We have courses for students age 9+, from our Coding Club (age 9-12), to Coding League (age 11-14), and the Academy (age 13-17).</p>
	<!-- Four columns of text -->
	<div class="row panels" id="beginner"> <!-- BEGINNER -->
		<div class="container">
			<h2>Beginner Courses for Youth</h2>
			<div class="col-md-6 right-padding">
				<div class="panel panel-danger panel-custom">
					<div class="panel-heading center">Coding Club</div>
					<div class="panel-body">
						<p>Do you have a student at home who enjoys spending time on the computer, could play Minecraft for hours, or has done the Hour of Code at school? The Coding Club is the place to take that interest in technology, and turn it into a productive skill. Designed for boys and girls in elementary and middle school who want to try out programming, the Coding Club is a fun way to learn to code in a social, after-school setting.</p>
					</div>
					<a href="/coding-club" class="btn button btn-primary btn-action center">Find Course &raquo;</a>
				</div>
			</div>
			<div class="col-md-6 no-pad-col left-padding">
				<div class="panel panel-danger panel-custom">
					<div class="panel-heading center">Week of Code</div>
					<div class="panel-body">
						<p>Instead of your kids spending their summer playing apps, what if they spent it learning to make them? This camp for middle and high school students introduces the fundamentals of coding. Students will create websites, mobile apps, and video games all while having fun with our energetic team.</p>
					</div>
					<button type="button" data-toggle="modal" data-target="#week-of-code" class="btn btn-primary btn-action center">Find Course &raquo;</button>
					{% include week-of-code-courses-modal.html %}
				</div>
			</div>
		</div>
	</div>
	<div class="row panels" id="intermediate"> <!-- INTERMEDIATE -->
		<div class="container">
			<h2>Intermediate Courses for Youth</h2>
			<div class="col-md-6 right-padding">
				<div class="panel panel-danger panel-custom">
					<div class="panel-heading center">Coding League</div>
					<div class="panel-body">
						<p>What happens when you’ve pushed the limits of block-based programming languages like Scratch? It’s time to start using more powerful, professional-grade tools. HTML, CSS, and JavaScript are the building blocks of the web, and are the focus of our intermediate-level course for youth, the Coding League.</p>
					</div>
					<a href="/coding-league" class="btn button btn-primary btn-action center">Find Course &raquo;</a>
				</div>
			</div>
			<div class="col-md-6 no-pad-col left-padding">
				<div class="panel panel-danger panel-custom">
					<div class="panel-heading center">Week of Code</div>
					<div class="panel-body">
						<p>Instead of your kids spending their summer playing apps, what if they spent it learning to make them? This camp for middle and high school students introduces the fundamentals of coding. Students will create websites, mobile apps, and video games all while having fun with our energetic team.</p>
					</div>
					<button type="button" data-toggle="modal" data-target="#week-of-code" class="btn btn-primary btn-action center">Find Course &raquo;</button>
					{% include week-of-code-courses-modal.html %}
				</div>
			</div>
		</div>
	</div> 
	<div class="row panels equal" id="advanced"> <!-- ADVANCED -->
		<div class="container">
			<h2>Advanced Courses for Youth</h2>
			<div class="col-md-6 right-padding">
				<div class="panel panel-danger panel-custom">
					<div class="panel-heading center">Academy</div>
					<div class="panel-body">
						<p>The Academy is our premier course for students ages 13-17. This program runs for 14 weeks each Spring and Fall semester, and meets twice a week, two hours per night. Students work alongside other highly-talented peers to gain exposure to a breadth of topics, not just their own focus area.</p>
					</div>
					<a href="/academy" class="btn button btn-primary btn-action center">Find Course &raquo;</a>
				</div>
			</div>
		</div>
	</div>
	
</div>