<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/accordion.js"></script>
{% if page.title == "Alumni" %}
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.imagesloaded.min.js"></script>
<script src="/js/isotope-custom.js"></script>
{% endif %}